<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.dbro.timelapse"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="pro.dbro.timelapse.TimeLapseApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <provider
            android:name=".TimeLapseContentProvider"
            android:authorities="pro.dbro.timelapse.timelapsecontentprovider"
            android:exported="false" >
        </provider>

        <activity
            android:name=".BrowserActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".TimeLapseViewerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.crittercism.NotificationActivity" />

        <service
            android:name=".service.GifExportService"
            android:enabled="true" />
    </application>

</manifest>